<h1 align="center">Assignment 4</h1>
<h2 align="center">Programming Machine Learning Applications [DSC 478]</h2>
<h3 align="center">Jonesh Shrestha (2222011)</h3>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itemBasedRec import *

### 1. **Item-Based Joke Recommendation**
#### For this problem you will use a modified version of the item-based recommender algorithm from Ch. 14 of Machine Learning in Action and use it on joke ratings data based on Jester Online Joke Recommender System. The modified version of the code is provided in the module itemBasedRec.py. Most of the module will be used as is, but you will add some additional functionality. The data set contains two files. The file "**modified_jester_data.csv**" contains the ratings on 100 jokes by 1000 users (each row is a user profile). The ratings have been normalized to be between 1 and 21 (a 20-point scale), with 1 being the lowest rating. A zero indicated a missing rating. The file "**jokes.csv**" contains the joke ids mapped to the actual text of the jokes. Your tasks in this problem are the following.

#### a. **[10 pts]** Load in the joke ratings data and the joke text data into appropriate data structures. Use the "**recommend**" function to provide top 5 joke recommendations for **users with id 117** using both **Pearson and cosine similarity** measures. Note the differences. Use the standard item-based collaborative filtering (based on the rating prediction function "**standEst**"). Next, find the top 5 recommendations for **user with id 441** only with Pearson similarity using both the standard estimator and the SVD-based version (using "**svdEst**" as the prediction engine) to generate these recommendations. Note the differences. When outputting recommendations, you should show both the id and the text of the recommended jokes (in decreasing order of predicted rating) as well as the predicted ratings for each.

In [2]:
# jokes_df = pd.read_csv('jokes/jokes.csv', header=None, index_col=0)
# jokes_df.head(5)

jokes = load_jokes('jokes/jokes.csv')
print(jokes[:5])

['A man visits the doctor. The doctor says "I have bad news for you.You have cancer and Alzheimer\'s disease". The man replies "Well thank God I don\'t have cancer!"'
 'This couple had an excellent relationship going until one day he came home from work to find his girlfriend packing. He asked her why she was leaving him and she told him that she had heard awful things about him. "What could they possibly have said to make you move out?" "They told me that you were a pedophile." He replied "That\'s an awfully big word for a ten year old."'
 "Q. What's 200 feet long and has 4 teeth? A. The front row at a Willie Nelson Concert."
 "Q. What's the difference between a man and a toilet? A. A toilet doesn't follow you around after you use it."
 "Q. What's O. J. Simpson's Internet address? A.\tSlash slash backslash slash slash escape."]

In [3]:
jester_data_df = pd.read_csv('jokes/modified_jester_data.csv', header=None)
jester_data_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,3.18,19.79,1.34,2.84,3.48,2.50,1.15,15.17,2.02,6.24,...,13.82,0.00,0.00,0.00,0.00,0.00,5.37,0.00,0.00,0.00
1,15.08,10.71,17.36,15.37,8.62,1.34,10.27,5.66,19.88,20.22,...,13.82,6.05,10.71,18.86,10.81,8.86,14.06,11.34,6.68,12.07
2,0.00,0.00,0.00,0.00,20.03,20.27,20.03,20.27,0.00,0.00,...,0.00,0.00,0.00,20.08,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,19.35,0.00,0.00,12.80,19.16,8.18,17.21,0.00,12.84,...,0.00,0.00,0.00,11.53,0.00,0.00,0.00,0.00,0.00,0.00
4,19.50,15.61,6.83,5.61,12.36,12.60,18.04,15.61,10.56,16.73,...,16.19,16.58,15.27,16.19,16.73,12.55,14.11,17.55,12.80,12.60

In [4]:
jester_data_np = jester_data_df.to_numpy()
jester_data_np

array([[ 3.18, 19.79,  1.34, ...,  0.  ,  0.  ,  0.  ],
       [15.08, 10.71, 17.36, ..., 11.34,  6.68, 12.07],
       [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
       ...,
       [16.58, 16.63, 15.85, ...,  0.  ,  0.  ,  0.  ],
       [ 3.67,  4.45,  3.67, ...,  3.77,  3.77,  3.28],
       [ 9.88, 11.73,  9.16, ...,  0.  ,  0.  ,  0.  ]], shape=(1000, 100))

In [5]:
def recommendation_output(recommend, jokes=jokes):
    for id, score in recommend:
        print(f'Joke ID: {id}')
        print(f'Score: {score}')
        print(f'Joke Text: {get_joke_text(jokes, id)}\n')

In [6]:
pearson_recommend = recommend(dataMat=jester_data_np, user=117, N=5, simMeas=pearsonSim, estMethod=standEst)
recommendation_output(pearson_recommend)

Joke ID: 97
Score: 10.611085062642834
Joke Text: Age and Womanhood1. Between the ages of 13 and 18 ... She is like Africa virgin and unexplored. 2. Between the ages of 19 and 35 ... She is like Asia hot and exotic. 3. Between the ages of 36 and 45 ... She is like America fully explored breathtakingly beautiful and free with her resources.4. Between the ages of 46 and 56 ...She is like Europe exhausted but still has points of interest. 5. After 56 she is like Australia ...Everybody knows it's down there but who gives a damn?

Joke ID: 99
Score: 10.60795594948322
Joke Text: Q: What's the difference between greeting a Queen and greeting thePresident of the United  States?A: You only have to get on one knee to greet the queen.

Joke ID: 92
Score: 10.59028160354093
Joke Text: Reaching the end of a job interview the human resources person asked a young engineer fresh out of Stanford"And what starting salary were you looking for?"The engineer said "In the neighborhood of $125000 a year depending on the benefits package."The interviewer said "Well what would you say to a package of 5-weeks vacation 14 paid holidays full medical and dental company matching retirement fund to 50% of salary and a company car leased every 2 years - say a red Corvette?"The Engineer sat up straight and said "Wow! Are you kidding?"And the interviewer replied "Yeah but you started it."

Joke ID: 75
Score: 10.573787944861072
Joke Text: There once was a man and a woman that both  got in  a terrible car wreck. Both of their vehicles  were completely destroyed buy fortunately no one  was   hurt.  In thankfulness the woman said to the man 'We are both okay so we should celebrate. I have   a  bottle of wine in my car let's open it.' So the woman got the bottle out of the car and  handed it to the man. The man took a really big drink and handed the woman the bottle. The  woman  closed the bottle and put it down. The man  asked  'Aren't you going to take a drink?' The woman cleverly replied 'No I think I'll  just  wait for the cops to get here.'

Joke ID: 80
Score: 10.571721714773872
Joke Text: An Asian man goes into a New York CityBank to exchange 10000 yen forAmerican Currency.  The teller gives him $72.00.  The next month theAsian man goes into the same bank with 10000 yen and receives $62.00.He asks "How come? Only $62.00?" The teller says "Fluctuations-Fluctuations!"Whereupon the Asian man looks back at the teller and says "Fluk youAmelicans too!"

In [7]:
cosine_recommend = recommend(dataMat=jester_data_np, user=117, N=5, simMeas=cosineSim, estMethod=standEst)
recommendation_output(cosine_recommend)

Joke ID: 97
Score: 10.568879679136282
Joke Text: Age and Womanhood1. Between the ages of 13 and 18 ... She is like Africa virgin and unexplored. 2. Between the ages of 19 and 35 ... She is like Asia hot and exotic. 3. Between the ages of 36 and 45 ... She is like America fully explored breathtakingly beautiful and free with her resources.4. Between the ages of 46 and 56 ...She is like Europe exhausted but still has points of interest. 5. After 56 she is like Australia ...Everybody knows it's down there but who gives a damn?

Joke ID: 99
Score: 10.566963805972222
Joke Text: Q: What's the difference between greeting a Queen and greeting thePresident of the United  States?A: You only have to get on one knee to greet the queen.

Joke ID: 92
Score: 10.56570515577353
Joke Text: Reaching the end of a job interview the human resources person asked a young engineer fresh out of Stanford"And what starting salary were you looking for?"The engineer said "In the neighborhood of $125000 a year depending on the benefits package."The interviewer said "Well what would you say to a package of 5-weeks vacation 14 paid holidays full medical and dental company matching retirement fund to 50% of salary and a company car leased every 2 years - say a red Corvette?"The Engineer sat up straight and said "Wow! Are you kidding?"And the interviewer replied "Yeah but you started it."

Joke ID: 88
Score: 10.565431359820924
Joke Text: A radio conversation of a US naval ship with Canadian authorities ... Americans: Please divert your course 15 degrees to the North to avoid a collision.Canadians: Recommend you divert YOUR course 15 degrees to the South to avoid a collision.Americans: This is the Captain of a US Navy ship.  I say again divert YOUR course.Canadians: No.  I say again you divert YOUR course.Americans: This is the aircraft carrier USS LINCOLN the second largest ship in the United States' Atlantic Fleet. We are accompanied by three destroyers three cruisers and numerous support vessels. I demand that you change your course 15 degrees north that's ONE FIVE DEGREES NORTH or counter-measures will be undertaken to ensure the safety of this ship.Canadians: This is a lighthouse.  Your call.

Joke ID: 75
Score: 10.564995264885125
Joke Text: There once was a man and a woman that both  got in  a terrible car wreck. Both of their vehicles  were completely destroyed buy fortunately no one  was   hurt.  In thankfulness the woman said to the man 'We are both okay so we should celebrate. I have   a  bottle of wine in my car let's open it.' So the woman got the bottle out of the car and  handed it to the man. The man took a really big drink and handed the woman the bottle. The  woman  closed the bottle and put it down. The man  asked  'Aren't you going to take a drink?' The woman cleverly replied 'No I think I'll  just  wait for the cops to get here.'

In [8]:
# for user with id 441 only with Pearson similarity using both the standard estimator
standEst_pearson_recommend = recommend(dataMat=jester_data_np, user=441, N=5, simMeas=pearsonSim, estMethod=standEst)
recommendation_output(standEst_pearson_recommend)

Joke ID: 79
Score: 13.971888175175714
Joke Text: Hillary Bill Clinton and the Pope are sitting together on an airplane. Bill says "I could throw one thousand dollar bill out of this plane and make one person very happy."Hillary says "I could throw 10 hundred dollar bills out of the plane and make 10 people very happy."The Pope chips in and says "I could throw Bill out of the airplane and make the whole country happy."

Joke ID: 5
Score: 13.965840113937233
Joke Text: Bill & Hillary are on a trip back to Arkansas. They're almost out of gas so Bill pulls into a service station on the outskirts of town. The attendant runs out of the station to serve them when Hillary realizes it's an old boyfriend from high school. She and the attendant chat as he gases up their car and cleans the windows. Then they all say good-bye. As Bill pulls the car onto the road he turns to Hillary and says 'Now aren't you glad you married me and not him ? You could've been the wife of a grease monkey !' To which Hillary replied 'No Bill. If I would have married him you'd be pumping gas and he would be the President !'

Joke ID: 71
Score: 13.960180088350794
Joke Text: On the first day of college the Dean addressed the students pointing out some of the rules:"The female dormitory will be out-of-bounds for all male students and the male dormitory to the female students. Anybody caught breaking this rule will be fined $20 the first time." He continued "Anybody caught breaking this rule the second time will be fined $60. Being caught a third time will cost you a fine of $180. Are there any questions ?"At this point a male student in the crowd inquired:"How much for a season pass ?"

Joke ID: 99
Score: 13.952483912473475
Joke Text: Q: What's the difference between greeting a Queen and greeting thePresident of the United  States?A: You only have to get on one knee to greet the queen.

Joke ID: 88
Score: 13.911394434320092
Joke Text: A radio conversation of a US naval ship with Canadian authorities ... Americans: Please divert your course 15 degrees to the North to avoid a collision.Canadians: Recommend you divert YOUR course 15 degrees to the South to avoid a collision.Americans: This is the Captain of a US Navy ship.  I say again divert YOUR course.Canadians: No.  I say again you divert YOUR course.Americans: This is the aircraft carrier USS LINCOLN the second largest ship in the United States' Atlantic Fleet. We are accompanied by three destroyers three cruisers and numerous support vessels. I demand that you change your course 15 degrees north that's ONE FIVE DEGREES NORTH or counter-measures will be undertaken to ensure the safety of this ship.Canadians: This is a lighthouse.  Your call.

In [9]:
# the SVD-based version
svdEst_pearson_recommend = recommend(dataMat=jester_data_np, user=441, N=5, simMeas=pearsonSim, estMethod=svdEst)
recommendation_output(svdEst_pearson_recommend)

Joke ID: 45
Score: 14.299797597297259
Joke Text: A couple has been married for 75 years. For the husband's 95thbirthday his wife decides to surprise him by hiring a prostitute.That day the doorbell rings. The husband uses his walker to get to the door and opens it. A 21-year-old in a latex outfit smiles and says "Hi I here to give you super sex!" The old man says "I'll take the soup."

Joke ID: 5
Score: 14.225833193529487
Joke Text: Bill & Hillary are on a trip back to Arkansas. They're almost out of gas so Bill pulls into a service station on the outskirts of town. The attendant runs out of the station to serve them when Hillary realizes it's an old boyfriend from high school. She and the attendant chat as he gases up their car and cleans the windows. Then they all say good-bye. As Bill pulls the car onto the road he turns to Hillary and says 'Now aren't you glad you married me and not him ? You could've been the wife of a grease monkey !' To which Hillary replied 'No Bill. If I would have married him you'd be pumping gas and he would be the President !'

Joke ID: 10
Score: 14.138533302504912
Joke Text: Q. What do a hurricane a tornado and a redneck divorce all have in common? A. Someone's going to lose their trailer...

Joke ID: 50
Score: 14.136345754056169
Joke Text: Did you hear that Clinton has announced there is a new national bird?  The spread eagle.

Joke ID: 69
Score: 14.096344534916815
Joke Text: Employer to applicant: "In this job we need someone who is responsible."Applicant: "I'm the one you want. On my last job every time anything went wrong they said I was responsible."

_First I imported the necessary libraries along with all the functions from the module itemBasedRec.py. I used load_jokes function to load the jokes dataset. Then used pandas to load the modified_jester_data as dataframe and converted to numpy array as recommend() function takes dataMat as numpy array. I also created a recommendation_output that uses jokes and the output from recommend() function to print joke id, score and joke text as required. for user with id 117, the recommend function with prediction fuction standEst with both cosine and pearson similarity gave similar top recommendations with jokeid 97, 99, 92, 75 appearing on both the lists. However pearson recommended 80 while cosine recommended 88. This is due to Pearson adjusts for each user's rating behaviour and bias, whereas cosine only measures the similarity between rating patterns without accounting for user's bias._

_Again for the user with id 441, the recommend function using the standard estimator (standEst) and the SVD-based estimator (svdEst), both with Pearson similarity, returned different sets of jokes, and only the joke with id 5 appeared in both lists. This happens because the standard estimator only relies on direct rating overlap between items, which is limited in a sparse rating matrix where most ratings are 0. On the other hand, the SVD-based estimator reduces the dimensionality of the user-item matrix and represents jokes in a latent feature space, which allows it to infer preferences even when the overlap in ratings is weak or missing (i.e., when many values are 0). As a result, the SVD-based recommendations differ._

#### b. **[10 pts]** Complete the definition for the function "**test**" (the stub is provided in the **itemBasedRec** module). This function iterates over all users and for each performs evaluation (by calling the provided "**cross_validate_user**" function) and returns the error information necessary to compute Mean Absolute Error (MAE). Use this function to perform evaluation (with 20% test-ratio for each user) comparing MAE results using the rating prediction function "standEst" with results using the "svdEst" prediction function (in both cases using Pearson similarity measure). Note that this may take several minutes depending on your computational environment. [**Note**: See comments provided in the module for hints on accomplishing these tasks.]

In [13]:
MAE_standEst = test(dataMat=jester_data_np, test_ratio=0.2, estMethod=standEst, simMeas=pearsonSim)
print(f'Mean Absolute Error with standEst: {MAE_standEst:.4f}')

Mean Absolute Error with standEst: 3.6969

In [16]:
MAE_svdEst = test(dataMat=jester_data_np, test_ratio=0.2, estMethod=svdEst, simMeas=pearsonSim)
print(f'Mean Absolute Error with svdEst: {MAE_svdEst:.4f}')

Mean Absolute Error with svdEst: 3.6643